* {
  box-sizing: border-box;
}

body .button,
body button,
body form,
body fieldset,
body input,
body select,
body textarea {
  margin-bottom: 0;
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --divider-color: #d1d1d1;
  --divider: 0.1rem solid var(--divider-color);
  --tool-color: #f4f5f6;

  /* indexes */
  --drawer-index: 20;
  --overlay-index: 19;
}
