* {
  box-sizing: border-box;
}

body .button,
body button,
body form,
body fieldset,
body input,
body select,
body textarea {
  margin: 0;
}

body input:disabled {
  background-color: lightgrey;
  color: grey;
  cursor: not-allowed;
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #9b4dca;

  --divider-color: #d1d1d1;
  --divider: 0.1rem solid var(--divider-color);
  --tool-color: #f4f5f6;

  /* indexes */
  --slider-index: 20;
  --overlay-index: 19;
}

body button.button {
  display: flex;
  align-items: center;
}

body button.button-icon {
  padding: 1rem;
}
